.Button {
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 70px;
  justify-content: center;
  width: 70px;
  transition: filter 0.3s ease-in;
  margin: auto;
  margin-top: 1rem;
}

.Button:active,
.Button:focus {
  filter: brightness(120%);
}
/* Coloring pada statement button */
.Button.zero {
  width: 250px;
  grid-column: 1 / span 2;
  border-radius: 57.5px;
  position: relative;
  justify-content: flex-start;
  padding-left: 43px;
  margin-left: 1.5rem;
}

.Button.function {
  color: black;
  background: #a5a5a5;
}

.Button.operator {
  background: #f1a33c;
}
/* End coloring pada statement button */